
!cache/.gitkeep
!cache/_db/
!cache/_db/.gitkeep
!cache/t_cache/
!cache/t_cache/.gitkeep
!cache/t_compile/
!cache/t_compile/.gitkeep
*.backup
*.dump
*.sql
*.sql.gz
.env
.github/workflows/
.user.ini
cache/*
config.inc.php
config.inc.php.*
ojs-files/
